.root{
    -fx-background-color: "blue";
    
}


#pergunta{
    -fx-font-size:20;
    -fx-text-fill: "white";
}

#nome_do_jogo{
    -fx-font-size:35;
    -fx-text-fill: "white";

}

#subTitulo{
    -fx-font-size:18;
    -fx-text-fill:"white";

}

